<html>
<head>
  <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-bottom: 50px;
    }
    pre.stdout, pre.stderr {
      white-space: pre-wrap;
    }
    .process.stopped .status {
      color: red;
    }
    .process.started .status {
      color: green;
    }
    .activity {
      color: blue;
    }
    .collapsing {
      -webkit-transition: none;
      transition: none;
    }



  </style>
  <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/bower_components/lodash/dist/lodash.min.js"></script>
  <script src="/static/bower_components/backbone/backbone-min.js"></script>
  <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/bower_components/socket.io-client/socket.io.js"></script>

  <script id="process-template" type="lodash/template">
    <div class="panel-heading" role="tab" id="heading-<%= model.id %>">
      <h4 class="panel-title">
        <span class="pull-right">
          <span class="activity glyphicon glyphicon-asterisk" style="opacity: 0;"></span>
          <span class="status">(<%= model.status %>)</span>
          <button class="start-btn" type="button">Start</button>
          <button class="stop-btn" type="button">Stop</button>
        </span>
        <a class="toggle-collapse" role="button" href="#">
          <%= model.config.name %>
        </a>
      </h4>
    </div>
    <div id="collapse-<%= model.id %>" class="panel-collapse collapse <%= localStorage.getItem('process:'+model.id+':shown') == 'true' ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading-<%= model.id %>">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6"><pre class="stdout pre-scrollable"><%= model.stdout_100.length ? model.stdout_100.join('\n')+'\n' : '' %></pre></div>
          <div class="col-sm-6"><pre class="stderr pre-scrollable"><%= model.stderr_100.length ? model.stderr_100.join('\n')+'\n' : '' %></pre></div>
        </div>
      </div>
    </div>
  </script>
</head>
<body>

  <div id="processes-container" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
  <nav id="controlbar" class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <button id="start-all-btn" type="button" class="btn btn-success navbar-btn">Start All</button>
      <button id="stop-all-btn" type="button" class="btn btn-danger navbar-btn">Stop All</button>
      <button id="collapse-all-btn" type="button" class="btn btn-default navbar-btn">Collapse All</button>
      <button id="expand-all-btn" type="button" class="btn btn-default navbar-btn">Expand All</button>
      <button id="pause-btn" type="button" class="btn btn-default navbar-btn">Pause</button>
      <button id="clear-btn" type="button" class="btn btn-warning navbar-btn">Clear</button>
    </div>
  </nav>


  <script type="text/javascript">
    var socket = io('http://localhost:9876');
    var MAX_DISPLAYED_LINES = 100;
    var CLEANUP_THRESHOLD = 150;
    // var MAX_DISPLAYED_LINES = 500;
    // var CLEANUP_THRESHOLD = 750;
    var paused = false;

    function scrollBottom(el) {
      var height = el[0].scrollHeight;
      el.scrollTop(height);
    }
    function pushCircular(arr, item, limit) {
      arr.push(item);
      if(arr.length > limit) arr.shift();
      return arr;
    }

    var Process = Backbone.Model.extend({
      initialize: function(options) {
        this.stdout = this.get('stdout_100') || [];
        this.stderr = this.get('stderr_100') || [];

        socket.on('process:'+this.id+':stdout', this._onStdoutEvt.bind(this));
        socket.on('process:'+this.id+':stderr', this._onStderrEvt.bind(this));
        socket.on('process:'+this.id+':started', this._onStartedEvt.bind(this));
        socket.on('process:'+this.id+':stopped', this._onStoppedEvt.bind(this));
      },
      _onStdoutEvt: function(data) {
        if(paused) return;
        this.stdout.push(data);
        this.trigger('stdout', data);
      },
      _onStderrEvt: function(data) {
        if(paused) return;
        this.stderr.push(data);
        this.trigger('stderr', data);
      },
      _onStartedEvt: function() {
        console.log('started');
        this.trigger('started');
      },
      _onStoppedEvt: function() {
        console.log('stopped');
        this.trigger('stopped');
      },
      sendStart: function() {
        $.post('/process/'+this.id+'/start');
      },
      sendStop: function() {
        $.post('/process/'+this.id+'/stop');
      },
      sendClear: function() {
        $.post('/process/'+this.id+'/clear');
        this.stdout = [];
        this.stderr = [];
      }
    })



    var ProcessView = Backbone.View.extend({
      className: 'process panel panel-default',
      template: _.template($('#process-template').html()),
      events: {
        'click .start-btn': '_onStartBtn',
        'click .stop-btn': '_onStopBtn',
        'click .toggle-collapse': 'toggle'
      },
      ACTIVITY_STEPS: 10,
      ACTIVITY_INTERVAL: 1000,  // ms
      initialize: function(options) {
        var that = this;
        this.model = options.model;
        this._shown = localStorage.getItem('process:'+this.model.id+':shown') == 'true';
        this.render();
        this.listenTo(this.model, 'started', this._onStartedEvt);
        this.listenTo(this.model, 'stopped', this._onStoppedEvt);
        this.listenTo(this.model, 'stdout', this._onStdoutEvt);
        this.listenTo(this.model, 'stderr', this._onStderrEvt);
        this.$el.addClass(this.model.get('status'));
        scrollBottom(this.$('.stdout'));
        scrollBottom(this.$('.stderr'));

        // // update localstorage on toggle
        // this.$el.on('shown.bs.collapse', function () {
        //   localStorage.setItem('process:'+that.model.id+':shown', true);
        //   scrollBottom(that.$('.stdout'));
        //   scrollBottom(that.$('.stderr'));
        // });
        // this.$el.on('hidden.bs.collapse', function () {
        //   localStorage.setItem('process:'+that.model.id+':shown', false);
        // });
      },
      render: function() {
        this.$el.html(this.template({
          model: this.model.toJSON()
        }));
        $('#processes-container').append(this.$el);
        return this;
      },
      hide: function() {
        if(this._shown) this.$('.collapse').hide();
        this._shown = false;
        localStorage.setItem('process:'+this.model.id+':shown', false);
      },
      show: function() {
        if(!this._shown) {
          this.$('.collapse').show();
          _.defer(scrollBottom, this.$('.stdout'));
          _.defer(scrollBottom, this.$('.stderr'));
        }
        this._shown = true;
        localStorage.setItem('process:'+this.model.id+':shown', true);
      },
      toggle: function(evt) {
        if(evt) evt.preventDefault();
        if(this._shown) this.hide();
        else this.show();
      },
      _animateActivity: function() {
        if(this._activityTimer) clearInterval(this._activityTimer);
        var el = this.$('.activity');
        var idx = 0;
        el.css('opacity', 1);
        var steps = this.ACTIVITY_STEPS;

        // every second, lighten
        var timer = this._activityTimer = setInterval(function() {
          if(idx == steps) {
            clearInterval(timer);
            el.css('opacity', 0);
          }
          else {
            idx++;
            el.css('opacity', 1/steps * (steps-idx));
          }
        }, this.ACTIVITY_INTERVAL);
      },
      _onStartedEvt: function() {
        this.$('.status').html('(started)');
        this.$el.removeClass('stopped').addClass('started');
        this.model.sendStart();
      },
      _onStoppedEvt: function() {
        this.$('.status').html('(stopped)');
        this.$el.removeClass('started').addClass('stopped');
      },
      _onStartBtn: function() {
        this.model.sendStart();
      },
      _onStopBtn: function() {
        this.model.sendStop();
      },
      _onStdoutEvt: function(data) {
        if(this.model.stdout.length > CLEANUP_THRESHOLD) {
          console.log('cleaning up '+this.model.id+' stdout');
          this.model.stdout = this.model.stdout.slice(0, MAX_DISPLAYED_LINES);
          this.$('.stdout').html(this.model.stdout.join('\n')+'\n');
        }
        else this.$('.stdout').append(data+'\n');
        if(this._shown) scrollBottom(this.$('.stdout'));

        this._animateActivity();
      },
      _onStderrEvt: function(data) {
        if(this.model.stderr.length > CLEANUP_THRESHOLD) {
          console.log('cleaning up '+this.model.id+' stderr');
          this.model.stderr = this.model.stderr.slice(0, MAX_DISPLAYED_LINES);
          this.$('.stderr').html(this.model.stderr.join('\n')+'\n');
        }
        else this.$('.stderr').append(data+'\n');
        if(this._shown) scrollBottom(this.$('.stderr'));

        this._animateActivity();
      },
      clear: function() {
        this.model.sendClear();
        this.$('.stdout').empty();
        this.$('.stderr').empty();
      }
    });

    var navbarView = new (Backbone.View.extend({
      el: '#controlbar',
      events: {
        'click #start-all-btn': '_onStartAllBtn',
        'click #stop-all-btn': '_onStopAllBtn',
        'click #collapse-all-btn': '_onCollapseAllBtn',
        'click #expand-all-btn': '_onExpandAllBtn',
        'click #pause-btn': '_onPauseBtn',
        'click #clear-btn': '_onClearBtn',
      },
      _onStartAllBtn: function() {
        _.invokeMap(processes.toArray(), 'sendStart');
      },
      _onStopAllBtn: function() {
        _.invokeMap(processes.toArray(), 'sendStop');
      },
      _onCollapseAllBtn: function() {
        _.invokeMap(processViews, 'hide');
      },
      _onExpandAllBtn: function() {
        _.invokeMap(processViews, 'show');
      },
      _onPauseBtn: function() {
        if(paused) {
          paused = false;
          this.$('#pause-btn').html('Pause');
        }
        else {
          paused = true;
          this.$('#pause-btn').html('Resume');
        }
      },
      _onClearBtn: function() {
        _.invokeMap(processViews, 'clear');
      },
    }))();


    var processes = new Backbone.Collection(null, {model: Process, comparator: 'id'});
    var processViews = [];

    $.get('/process/')
      .then(function(body, status, jqxhr) {
        processes.set(body);
        processes.each(function(v) {
          processViews.push(new ProcessView({model: v}));
        });
      });

  </script>
</html>
